In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('college_data.csv')
data.head()

,﻿UNITID,OPEID,OPEID6,INSTNM,COUNT_ED,AGEGE24,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,...,COMPL_RPY_3YR_RT_SUPP,NONCOM_RPY_3YR_RT_SUPP,DEP_RPY_3YR_RT_SUPP,IND_RPY_3YR_RT_SUPP,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP
0,100654,100200,1002,Alabama A & M University,1277,0.07999999821186,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,...,0.6030640669,0.3731263383,0.448960739,0.3752969121,0.4229704797,0.509569378,0.4624624625,0.4098883573,0.4119373777,0.4533248082
1,100663,105200,1052,University of Alabama at Birmingham,2831,0.25999999046325,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,...,0.8648785425,0.7227602906,0.7946185286,0.7687747036,0.7562804649,0.8298824846,0.7851182197,0.7870722433,0.7763401109,0.7912398446
2,100690,2503400,25034,Amridge University,191,0.82999998331069,70.8799972534179,22.5300006866455,1.28999996185302,6.94000005722046,...,0.6857142857,0.4984326019,PrivacySuppressed,0.532967033,0.4967948718,0.6753246753,0.447257384,0.6644736842,0.5235849057,0.5423728814
3,100706,105500,1055,University of Alabama in Huntsville,1361,0.28999999165534,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,...,0.9046673287,0.7386814932,0.8317890235,0.7809965238,0.7805222301,0.8657243816,0.800323363,0.8270165209,0.7962025316,0.8211382114
4,100724,100500,1005,Alabama State University,1609,0.10999999940395,42.6899986267089,52.3199996948242,1.40999996662139,4.09000015258789,...,0.4444444444,0.335916442,0.3409178558,0.3428030303,0.3310369833,0.4187327824,0.3724696356,0.3024425287,0.3335766423,0.3472301542

In [5]:
# geo_data1 = pd.read_csv('geo_data/ValueLabels_11-7-2016---597.csv')
geo_data2 = pd.read_csv('geo_data/Data_11-7-2016---597.csv')

geo_data1 just has state abbreviation conversations. haha.

In [7]:
geo_data2.head()

,UnitID,Institution Name,Latitude location of institution (HD2015),Longitude location of institution (HD2015),County name (HD2015),ZIP code (HD2015),City location of institution (HD2015),State abbreviation (HD2015),Institution (entity) name (HD2015),Fips County code (HD2015),Institution name alias (HD2015),Unnamed: 11
0,457590,A & W Healthcare Educators,30.027500,-90.011931,Orleans Parish,70126,New Orleans,LA,A & W Healthcare Educators,22071,,NaN
1,177834,A T Still University of Health Sciences,40.193648,-92.589183,Adair County,63501,Kirksville,MO,A T Still University of Health Sciences,29001,,NaN
2,180203,Aaniiih Nakoda College,48.533090,-108.783640,Blaine County,59526,Harlem,MT,Aaniiih Nakoda College,30005,,NaN
3,161615,Aaron's Academy of Beauty,38.611356,-76.901993,Charles County,20602,Waldorf,MD,Aaron's Academy of Beauty,24017,Aaron's Beauty School,NaN
4,459523,ABC Beauty Academy,32.929810,-96.684271,Dallas County,75042,Garland,TX,ABC Beauty Academy,48113,,NaN

## Merge Geo and Pay Data

In [8]:
geo_data2.columns.values

array(['UnitID', 'Institution Name',
       'Latitude location of institution (HD2015)',
       'Longitude location of institution (HD2015)',
       'County name (HD2015)', 'ZIP code (HD2015)',
       'City location of institution (HD2015)',
       'State abbreviation (HD2015)', 'Institution (entity) name (HD2015)',
       'Fips County code (HD2015)', 'Institution name alias (HD2015)',
       'Unnamed: 11'], dtype=object)

In [4]:
data.columns.values

array(['\xef\xbb\xbfUNITID', 'OPEID', 'OPEID6', 'INSTNM', 'COUNT_ED',
       'AGEGE24', 'PCT_WHITE', 'PCT_BLACK', 'PCT_ASIAN', 'PCT_HISPANIC',
       'PCT_BA', 'PCT_GRAD_PROF', 'PCT_BORN_US', 'MEDIAN_HH_INC',
       'POVERTY_RATE', 'UNEMP_RATE', 'LN_MEDIAN_HH_INC', 'COUNT_NWNE_P10',
       'COUNT_WNE_P10', 'MN_EARN_WNE_P10', 'MD_EARN_WNE_P10',
       'PCT10_EARN_WNE_P10', 'PCT25_EARN_WNE_P10', 'PCT75_EARN_WNE_P10',
       'PCT90_EARN_WNE_P10', 'SD_EARN_WNE_P10', 'COUNT_WNE_INC1_P10',
       'COUNT_WNE_INC2_P10', 'COUNT_WNE_INC3_P10',
       'COUNT_WNE_INDEP0_INC1_P10', 'COUNT_WNE_INDEP0_P10',
       'COUNT_WNE_INDEP1_P10', 'COUNT_WNE_MALE0_P10',
       'COUNT_WNE_MALE1_P10', 'GT_25K_P10', 'MN_EARN_WNE_INC1_P10',
       'MN_EARN_WNE_INC2_P10', 'MN_EARN_WNE_INC3_P10',
       'MN_EARN_WNE_INDEP0_INC1_P10', 'MN_EARN_WNE_INDEP0_P10',
       'MN_EARN_WNE_INDEP1_P10', 'MN_EARN_WNE_MALE0_P10',
       'MN_EARN_WNE_MALE1_P10', 'COUNT_NWNE_P6', 'COUNT_WNE_P6',
       'MN_EARN_WNE_P6', 'MD_EARN_WNE_P6', 'PCT10_EARN_WNE_P6',
       'PCT25_EARN_WNE_P6', 'PCT75_EARN_WNE_P6', 'PCT90_EARN_WNE_P6',
       'SD_EARN_WNE_P6', 'COUNT_WNE_INC1_P6', 'COUNT_WNE_INC2_P6',
       'COUNT_WNE_INC3_P6', 'COUNT_WNE_INDEP0_INC1_P6',
       'COUNT_WNE_INDEP0_P6', 'COUNT_WNE_INDEP1_P6', 'COUNT_WNE_MALE0_P6',
       'COUNT_WNE_MALE1_P6', 'GT_25K_P6', 'MN_EARN_WNE_INC1_P6',
       'MN_EARN_WNE_INC2_P6', 'MN_EARN_WNE_INC3_P6',
       'MN_EARN_WNE_INDEP0_INC1_P6', 'MN_EARN_WNE_INDEP0_P6',
       'MN_EARN_WNE_INDEP1_P6', 'MN_EARN_WNE_MALE0_P6',
       'MN_EARN_WNE_MALE1_P6', 'COUNT_NWNE_P7', 'COUNT_WNE_P7',
       'MN_EARN_WNE_P7', 'SD_EARN_WNE_P7', 'GT_25K_P7', 'COUNT_NWNE_P8',
       'COUNT_WNE_P8', 'MN_EARN_WNE_P8', 'MD_EARN_WNE_P8',
       'PCT10_EARN_WNE_P8', 'PCT25_EARN_WNE_P8', 'PCT75_EARN_WNE_P8',
       'PCT90_EARN_WNE_P8', 'SD_EARN_WNE_P8', 'GT_25K_P8', 'COUNT_NWNE_P9',
       'COUNT_WNE_P9', 'MN_EARN_WNE_P9', 'SD_EARN_WNE_P9', 'GT_25K_P9',
       'DEBT_MDN_SUPP', 'GRAD_DEBT_MDN_SUPP', 'GRAD_DEBT_MDN10YR_SUPP',
       'RPY_3YR_RT_SUPP', 'LO_INC_RPY_3YR_RT_SUPP',
       'MD_INC_RPY_3YR_RT_SUPP', 'HI_INC_RPY_3YR_RT_SUPP',
       'COMPL_RPY_3YR_RT_SUPP', 'NONCOM_RPY_3YR_RT_SUPP',
       'DEP_RPY_3YR_RT_SUPP', 'IND_RPY_3YR_RT_SUPP',
       'PELL_RPY_3YR_RT_SUPP', 'NOPELL_RPY_3YR_RT_SUPP',
       'FEMALE_RPY_3YR_RT_SUPP', 'MALE_RPY_3YR_RT_SUPP',
       'FIRSTGEN_RPY_3YR_RT_SUPP', 'NOTFIRSTGEN_RPY_3YR_RT_SUPP'], dtype=object)

In [14]:
# rename index column 
data = data.rename(columns={'\xef\xbb\xbfUNITID': 'UNITID'})
geo_data2 = geo_data2.rename(columns={'UnitID': 'UNITID'})

In [15]:
print data.shape
print geo_data2.shape

(7703, 106)
(7647, 12)

In [53]:
df = pd.merge(data, geo_data2, on = 'UNITID', how = 'inner')

In [54]:
df.shape

(7282, 117)

In [18]:
df.head()

,UNITID,OPEID,OPEID6,INSTNM,COUNT_ED,AGEGE24,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,...,Latitude location of institution (HD2015),Longitude location of institution (HD2015),County name (HD2015),ZIP code (HD2015),City location of institution (HD2015),State abbreviation (HD2015),Institution (entity) name (HD2015),Fips County code (HD2015),Institution name alias (HD2015),Unnamed: 11
0,100654,100200,1002,Alabama A & M University,1277,0.07999999821186,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,...,34.783368,-86.568502,Madison County,35762,Normal,AL,Alabama A & M University,1089,AAMU,NaN
1,100663,105200,1052,University of Alabama at Birmingham,2831,0.25999999046325,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,...,33.502230,-86.809170,Jefferson County,35294-0110,Birmingham,AL,University of Alabama at Birmingham,1073,,NaN
2,100690,2503400,25034,Amridge University,191,0.82999998331069,70.8799972534179,22.5300006866455,1.28999996185302,6.94000005722046,...,32.362609,-86.174010,Montgomery County,36117-3553,Montgomery,AL,Amridge University,1101,Southern Christian University |Regions University,NaN
3,100706,105500,1055,University of Alabama in Huntsville,1361,0.28999999165534,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,...,34.722818,-86.638420,Madison County,35899,Huntsville,AL,University of Alabama in Huntsville,1089,UAH |University of Alabama Huntsville,NaN
4,100724,100500,1005,Alabama State University,1609,0.10999999940395,42.6899986267089,52.3199996948242,1.40999996662139,4.09000015258789,...,32.364317,-86.295677,Montgomery County,36104-0271,Montgomery,AL,Alabama State University,1101,,NaN

In [19]:
df.columns.values

array(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'COUNT_ED', 'AGEGE24',
       'PCT_WHITE', 'PCT_BLACK', 'PCT_ASIAN', 'PCT_HISPANIC', 'PCT_BA',
       'PCT_GRAD_PROF', 'PCT_BORN_US', 'MEDIAN_HH_INC', 'POVERTY_RATE',
       'UNEMP_RATE', 'LN_MEDIAN_HH_INC', 'COUNT_NWNE_P10', 'COUNT_WNE_P10',
       'MN_EARN_WNE_P10', 'MD_EARN_WNE_P10', 'PCT10_EARN_WNE_P10',
       'PCT25_EARN_WNE_P10', 'PCT75_EARN_WNE_P10', 'PCT90_EARN_WNE_P10',
       'SD_EARN_WNE_P10', 'COUNT_WNE_INC1_P10', 'COUNT_WNE_INC2_P10',
       'COUNT_WNE_INC3_P10', 'COUNT_WNE_INDEP0_INC1_P10',
       'COUNT_WNE_INDEP0_P10', 'COUNT_WNE_INDEP1_P10',
       'COUNT_WNE_MALE0_P10', 'COUNT_WNE_MALE1_P10', 'GT_25K_P10',
       'MN_EARN_WNE_INC1_P10', 'MN_EARN_WNE_INC2_P10',
       'MN_EARN_WNE_INC3_P10', 'MN_EARN_WNE_INDEP0_INC1_P10',
       'MN_EARN_WNE_INDEP0_P10', 'MN_EARN_WNE_INDEP1_P10',
       'MN_EARN_WNE_MALE0_P10', 'MN_EARN_WNE_MALE1_P10', 'COUNT_NWNE_P6',
       'COUNT_WNE_P6', 'MN_EARN_WNE_P6', 'MD_EARN_WNE_P6',
       'PCT10_EARN_WNE_P6', 'PCT25_EARN_WNE_P6', 'PCT75_EARN_WNE_P6',
       'PCT90_EARN_WNE_P6', 'SD_EARN_WNE_P6', 'COUNT_WNE_INC1_P6',
       'COUNT_WNE_INC2_P6', 'COUNT_WNE_INC3_P6',
       'COUNT_WNE_INDEP0_INC1_P6', 'COUNT_WNE_INDEP0_P6',
       'COUNT_WNE_INDEP1_P6', 'COUNT_WNE_MALE0_P6', 'COUNT_WNE_MALE1_P6',
       'GT_25K_P6', 'MN_EARN_WNE_INC1_P6', 'MN_EARN_WNE_INC2_P6',
       'MN_EARN_WNE_INC3_P6', 'MN_EARN_WNE_INDEP0_INC1_P6',
       'MN_EARN_WNE_INDEP0_P6', 'MN_EARN_WNE_INDEP1_P6',
       'MN_EARN_WNE_MALE0_P6', 'MN_EARN_WNE_MALE1_P6', 'COUNT_NWNE_P7',
       'COUNT_WNE_P7', 'MN_EARN_WNE_P7', 'SD_EARN_WNE_P7', 'GT_25K_P7',
       'COUNT_NWNE_P8', 'COUNT_WNE_P8', 'MN_EARN_WNE_P8', 'MD_EARN_WNE_P8',
       'PCT10_EARN_WNE_P8', 'PCT25_EARN_WNE_P8', 'PCT75_EARN_WNE_P8',
       'PCT90_EARN_WNE_P8', 'SD_EARN_WNE_P8', 'GT_25K_P8', 'COUNT_NWNE_P9',
       'COUNT_WNE_P9', 'MN_EARN_WNE_P9', 'SD_EARN_WNE_P9', 'GT_25K_P9',
       'DEBT_MDN_SUPP', 'GRAD_DEBT_MDN_SUPP', 'GRAD_DEBT_MDN10YR_SUPP',
       'RPY_3YR_RT_SUPP', 'LO_INC_RPY_3YR_RT_SUPP',
       'MD_INC_RPY_3YR_RT_SUPP', 'HI_INC_RPY_3YR_RT_SUPP',
       'COMPL_RPY_3YR_RT_SUPP', 'NONCOM_RPY_3YR_RT_SUPP',
       'DEP_RPY_3YR_RT_SUPP', 'IND_RPY_3YR_RT_SUPP',
       'PELL_RPY_3YR_RT_SUPP', 'NOPELL_RPY_3YR_RT_SUPP',
       'FEMALE_RPY_3YR_RT_SUPP', 'MALE_RPY_3YR_RT_SUPP',
       'FIRSTGEN_RPY_3YR_RT_SUPP', 'NOTFIRSTGEN_RPY_3YR_RT_SUPP',
       'Institution Name', 'Latitude location of institution (HD2015)',
       'Longitude location of institution (HD2015)',
       'County name (HD2015)', 'ZIP code (HD2015)',
       'City location of institution (HD2015)',
       'State abbreviation (HD2015)', 'Institution (entity) name (HD2015)',
       'Fips County code (HD2015)', 'Institution name alias (HD2015)',
       'Unnamed: 11'], dtype=object)

## Interpreting Columns 
Some relevant columns and definitions: 
MN_EARN_WNE_P10: Mean earnings of students working and not enrolled 10 years after entry
MN_EARN_WNE_MALE1_P10: Mean earnings of male students working and not enrolled 10 years after entry
MN_EARN_WNE_MALE0_P10: Mean earnings of female students working and not enrolled 10 years after entry

In [57]:
#Hmm, we'll have to take care of these missing values ... 
print df.MN_EARN_WNE_MALE0_P10.isnull().sum()

1081

In [58]:
df = df[~df.MN_EARN_WNE_MALE0_P10.isnull()]
df = df[~df.MN_EARN_WNE_MALE1_P10.isnull()]

In [59]:
print df.MN_EARN_WNE_MALE0_P10.isnull().sum() #0
print df.MN_EARN_WNE_MALE1_P10.isnull().sum() #0

0
0

In [61]:
df.shape

(6201, 117)

In [62]:
# Also get rid of 'privacy surpressed' values 
df = df[df.MN_EARN_WNE_MALE1_P10.apply(lambda x: x.isdigit()) & df.MN_EARN_WNE_MALE0_P10.apply(lambda x: x.isdigit())]

In [68]:
print df.MN_EARN_WNE_MALE1_P10.head()
print df.MN_EARN_WNE_MALE0_P10.head()

0    36300
1    54500
2    53900
3    58300
4    29900
Name: MN_EARN_WNE_MALE1_P10, dtype: int64
0    33600
1    41400
2    34600
3    43400
4    29000
Name: MN_EARN_WNE_MALE0_P10, dtype: int64

In [63]:
df.shape

(3895, 117)

In [64]:
df['MN_EARN_WNE_MALE1_P10'] = df['MN_EARN_WNE_MALE1_P10'].astype(int)

In [65]:
df['MN_EARN_WNE_MALE0_P10'] = df['MN_EARN_WNE_MALE0_P10'].astype(int)

In [69]:
df.loc[:,['MN_EARN_WNE_MALE1_P10','MN_EARN_WNE_MALE0_P10']].describe()

       MN_EARN_WNE_MALE1_P10  MN_EARN_WNE_MALE0_P10
count            3895.000000            3895.000000
mean            45008.600770           34744.852375
std             17419.326723           12429.402843
min             17900.000000           12400.000000
25%             35250.000000           26700.000000
50%             42000.000000           31700.000000
75%             50600.000000           39800.000000
max            250000.000000          151200.000000

In [70]:
#We define pay gap as men's average earnings minus women's average earnings after ten years 

df['pay_gap'] = df.MN_EARN_WNE_MALE1_P10.astype(int) - df.MN_EARN_WNE_MALE0_P10.astype(int)

In [71]:
#Keep only relevant columns
final_df = df.loc[:,['UNITID', 'pay_gap','Institution Name', 'Latitude location of institution (HD2015)', 'Longitude location of institution (HD2015)', 'State abbreviation (HD2015)']]

In [73]:
final_df.to_csv('college_data_cleaned.csv')